@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Pathway+Gothic+One&family=Quicksand:wght@500;600&display=swap');

:root {
    --cor-primaria:#E9E9E9;
    --cor-secundaria:#8a4fff;
    --cor-de-contraste:#AD0C00;
    --cor-fonte-principal: #5c136d;
    --cor-fonte-parágrafos: #7c348d;
    --fonte-principal: 'Comfortaa', cursive;
    --fonte-secondaria: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    cursor:default;
}

*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track{
    background: var(--cor-fonte-parágrafos);

}

*::-webkit-scrollbar-thumb{
    background-color: var(--cor-primaria);
    border-radius: 20px;
    border:3px solid var(--cor-primaria);

}

body {
    font-size: 100%;
    background: var(--cor-secundaria);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px 20px 30px;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    background: none;
    transition-duration: 0.3s;
    z-index: 1;
}

nav {
    display: flex;
    gap: 40px;
}

nav > a {
    font-size: 30px;
    font-family: var(--fonte-principal);
    color: white;
    transition: 0.4s;
}

nav > a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.logo {
    height: 80px;
    cursor: pointer;
    transition: 0.5s;
}
.logo:hover {

    transform: scale(1.1);
}

.efeito-menu {
    background: #8530f585;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

main {
    width: auto;
    height: auto;
    padding-top: 30px;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 60px;
    gap: 80px;
    padding-bottom: 100px;
}

.apresentacao > div > h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 5em;
    color: white;
}

.apresentacao > div > h3{
    font-family: var(--fonte-secondaria);
    font-size: 2em;
    color: white;
    width: 35vw;
    line-height: 50px;
}

.apresentacao > img {
    width: 450px;
}

.sessao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    padding: 150px 0;
}

hr {
    color: #ecebeba1;
    width: 700px ;
    text-align: center;
    margin:40px 0;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 100px 200px 100px;
}

.sobre-mim-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    gap: 12px;
    height: 500px;
}

.fonte-e-tamanho h3{
    font-family: var(--fonte-principal);
    color: white;
    font-size: 30px;
    padding: 20px 0;
}

.sm-info-um p{
    font-family: var(--fonte-secondaria);
    color: white;
    font-size: 22px;
    font-weight:bold;
    padding:0 0 10px 10px;
    border-left: white solid 3px;
}

.sm-info-dois {
    display: flex;
    flex-direction: column;
}

.minhas-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    gap: 45px;
}

.minhas-infos ul {
    border-right: white solid 3px;
    text-align: right;
    padding-right: 10px;
    list-style: none;
    font-size: 20vw;
}

.minha-foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 30px;
}


.skills-e-idiomas {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 80px 70px 0 70px;
}

.skills-e-idiomas h3 {
    color: var(--cor-fonte-principal);
}

.skills-e-idiomas ul > li{
    color: var(--cor-fonte-principal);
    font-family: var(--fonte-secondaria);
    font-size: 20px;
    font-weight: bold;

}

.tecnologias {
    background: #6cdcbc;
    padding: 150px;
    gap:  100px;
}

.tec-icon h3{
    font-size: 40px;
    font-family: var(--fonte-principal);
    color: #006666;
}

.tec-icon img{
    width: 300px;
    border-right: solid #E9E9E9 1px;
    padding: 30px;
}

.tecnologias-info {
    display: inline-block;
    padding-top: 50px 20px;
}

.tecnologias-info img {
    width: 200px;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.tecnologias-info img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);   
}

.projetos {
    background-color: #2F97C1;
    padding: 150px;
}


.projetos-icon h3 {
    font-size: 40px;
    font-family: var(--fonte-principal);
    color: white;
    padding-bottom: 25px;
}

.projetos-icon img{
    width: 350px;
    padding-right: 40px;
    
    border-right: solid 1px rgb(72, 165, 251);
}

.contato {
    background-color: #0D0251;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23d015ec' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%235702aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ae2de3' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%236600a3' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%238d37d8' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2371009c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236d3bcb' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%237a0095' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%234d3cbb' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2382008e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%232a3aaa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-position-y: bottom;
    background-size: cover;
    padding: 8px 27px;
}

.contato-info h3{
    font-size: 50px;
    font-family: var(--fonte-principal);
    padding: 30px 0;
    color: gainsboro;
}

.contato-form {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contato-form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 30px;
    font-family: var(--fonte-secondaria);
    color: gainsboro;
}

.contato-form input, textarea {
    border-radius: 5px;
    padding:  0.2em;
    box-shadow: 2px 2px 2px rgba(82, 82, 82, 0.418);
    background-color: rgb(241, 241, 241);
    font-family: var(--fonte-secondaria);
    font-size: 12px;
    cursor: text;
}

.botao-form {
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    background-color: gainsboro;
    color: var(--cor-fonte-principal);
    font-family: var(--fonte-principal);
    font-weight: 10px;
    cursor: pointer;
    border: none;

}

.botao-form:hover {
    background-color: #0D0251;
    color: gainsboro;
}

.contato-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
}


.contato-links img{
    width: 50px;
    cursor: pointer;
}