@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Pathway+Gothic+One&family=Quicksand:wght@500;600&display=swap');

:root {
    --cor-primaria:#E9E9E9;
    --cor-secundaria:#8a4fff;
    --cor-de-contraste:#AD0C00;
    --cor-fonte-principal: #5c136d;
    --cor-fonte-parágrafos: #7c348d;
    --fonte-principal: 'Comfortaa', cursive;
    --fonte-secondaria: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track{
    background: var(--cor-fonte-parágrafos);

}

*::-webkit-scrollbar-thumb{
    background-color: var(--cor-primaria);
    border-radius: 20px;
    border:3px solid var(--cor-primaria);

}

body {
    font-size: 100%;
    background: var(--cor-secundaria);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px 20px 30px;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    background: none;
    transition-duration: 0.3s;
    z-index: 1;
}

nav {
    display: flex;
    gap: 40px;
}

nav > a {
    font-size: 30px;
    font-family: var(--fonte-principal);
    color: white;
    transition: 0.4s;
}

nav > a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.logo {
    height: 80px;
    cursor: pointer;
    transition: 0.5s;
}
.logo:hover {

    transform: scale(1.1);
}

.efeito-menu {
    background: #8530f59b;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

main {
    width: auto;
    height: auto;
    padding-top: 30px;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 60px;
    gap: 80px;
    padding-bottom: 100px;
}

.apresentacao > div > h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 5em;
    color: white;
}

.apresentacao > div > h3 {
    font-family: var(--fonte-secondaria);
    font-size: 2em;
    color: white;
    width: 35vw;
    line-height: 50px;
}

.apresentacao > img {
    width: 450px;
}

.sessão {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
}

hr {
    color: #ecebeb78;
    width: 700px ;
    text-align: center;
    margin:40px 0;
}

.sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 100px 200px 100px;
}

.sobre-mim-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
    gap: 12px;
    height: 500px;
}

.fonte-e-tamanho h3{
    font-family: var(--fonte-principal);
    color: white;
    font-size: 30px;
    padding: 20px 0;
}

.sm-info-um p{
    font-family: var(--fonte-secondaria);
    color: white;
    font-size: 22px;
    font-weight:bold;
    padding:0 0 10px 10px;
    border-left: white solid 3px;
}

.sm-info-dois {
    display: flex;
    flex-direction: column;
}

.minhas-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    gap: 45px;
}

.minhas-infos ul {
    border-right: white solid 3px;
    text-align: right;
    padding-right: 10px;
}

.minha-foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 30px;
}

.minhas-infos ul {
    list-style: none;
}

.skills-e-idiomas {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 80px 70px 0 70px;
}

.skills-e-idiomas h3 {
    color: var(--cor-fonte-principal);
}

.skills-e-idiomas ul > li{
    color: var(--cor-fonte-principal);
    font-family: var(--fonte-secondaria);
    font-size: 20px;
    font-weight: bold;

}

.tecnologias {
    background: #6cdcbc;
    padding: 150px;
    gap:  100px;
}

.tec-icon h3{
    font-size: 40px;
    font-family: var(--fonte-principal);
    color: #006666;
}

.tec-icon img{
    width: 300px;
    border-right: solid #E9E9E9 1px;
    padding: 30px;
}

.tecnologias-info {
    display: inline-block;
    padding-top: 50px 20px;
}

.tecnologias-info img {
    width: 200px;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.tecnologias-info img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);   
}