@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Pathway+Gothic+One&family=Quicksand:wght@500;600&display=swap');

:root {
    --cor-primaria:#E9E9E9;
    --cor-secundaria:#0B0762;
    --cor-de-contraste:#AD0C00;
    --cor-fonte-principal:#30526A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track{
    background: var(--cor-primaria);

}

*::-webkit-scrollbar-thumb{
    background-color: #7A7EB1;
    border-radius: 20px;
    border:3px solid var(--cor-primaria);

}

body {
    font-size: 100%;
    background: linear-gradient(to right, var(--cor-primaria) 16.62%, var(--cor-secundaria) 85.61%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 30px 20px 30px;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    background: none;
    transition-duration: 0.3s;
    z-index: 1;
}

nav {
    display: flex;
    gap: 32px;
}

nav > a {
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    color: #FFFFFF;
    transition: 0.3s;
}

nav > a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.logo {
    height: 85px;
    border-radius: 50%;
    cursor: pointer;
}

.efeito-menu {
    background: linear-gradient(to right, var(--cor-primaria) 16.62%, #0c0762b7 85.61%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

main {
    width: auto;
    height: auto;
    padding-top: 30px;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 60px;
    gap: 80px;
    padding-bottom: 100px;
}

.apresentacao > div > h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 5em;
    color: var(--cor-fonte-principal);
}

.apresentacao > div > h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    color: var(--cor-fonte-principal);
    width: 35vw;
    line-height: 50px;
}

.apresentacao > img {
    width: fit-content;
    height: fit-content;
}

.sessão {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
}

.sobre-mim {
    background-color: #c4acdf;

}

.sobre-mim img{
    width: 350px;
    padding: 35px;
}

.minha-foto {
    float: left;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
    margin-right: 30px;
}

.sobre-mim-info {
    width: 75%;
    gap: 12px;
    padding: 100px;
    height: 500px;
    background: #cbeddd;
}

.sobre-mim-info > h3 {
    color: #7c348d;
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    padding: 20px 0;
}

.sobre-mim-info > p {
    font-size: 30px;
    color: #7c348d;
    font-family: 'Quicksand', sans-serif;
}

.tecnologias img{
    width: 600px;
    padding: 35px;
}

.tecnologias-info {
    background: #ecebeb;
    display: inline-block;
    padding: 20px;
}



.tecnologias-info img {
    width: 300px;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.tecnologias-info img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);   

}